<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <header>
    <h1><a href="/">{{ site.title }}</a></h1>
    <nav>
        <a href="/"><img src="/assets/home.png" alt="Home">Home</a>
        <a href="/blog"><img src="/assets/blog.png" alt="Blog">Blog</a>
        <a href="/about"><img src="/assets/about.png" alt="About">About</a>
    </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer style="text-align:center; padding: 20px;">
    <a href="https://github.com/AndrewJMart" target="_blank" style="margin: 0 10px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="30" alt="GitHub">
    </a>

    <a href="https://www.linkedin.com/in/andrewjmart" target="_blank" style="margin: 0 10px;">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" width="30" alt="LinkedIn">
    </a>

    <a href="https://x.com/AndrewJMartOnX" target="_blank" style="margin: 0 10px;">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" width="30" alt="Twitter/X">
    </a>

    <p style="margin-top: 10px; color: #888;">© 2025 Andrew Martinez</p>
    </footer>

  </body>
</html>
